<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gladiator Bicycles</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    </head>
    
    <body>
        <nav>
            <ul id="navContent" class="gridlayout-6">
                <img src="/assets/logo4.png" alt="Gladiator Bicycles" class="navimage"/>
                <div class="navbutton home current">
                    <a href="/">Home</a>
                </div>
                <div class="navbutton products">
                    <a href="/products">Products</a>
                </div>
                <div class="navbutton about">
                    <a href="/about">About Us</a>
                </div>
                <div class="navbutton contact">
                    <a href="/contact">Contact Us</a>
                </div>
            </ul>
        </nav>
        <main class="mainContent">
            <div class="<%= alert %> grey-card" <%= display %>><%= submsg %></div>
            <div class="contactmanager grey-card gridlayout-6">
                <img src="/assets/manager.jpg" alt="Manager">
                <div>
                    <span>Manager: Robert DeSoto</span>
                </div>
                <div>
                    <span>Phone: 727-555-2323</span>
                </div>
                <div>
                    <span>Email: Desoto.Robert@gladiator.com</span>
                </div>
                <div>
                    <span>Address:</span>
                </div>
                <div>
                    <span>1212 Florida Ave.</span>
                </div>
                <div>
                    <span>Lakeland, Fl 33844</span>
                </div>
                <div>
                    <span>Store Hours:</span>
                </div>
                <div>
                    <span>[M - F] 11am - 6pm</span>
                </div>
                <div>
                    <span>[Sat - Sun] 10am - 7pm</span>
                </div>
            </div>
            <div class="grey-card">
                <form action="/contact" method="POST">
                    <div class="contactname">
                        <label for="name">Full Name</label><br>
                        <input type="text" name="name" id="name" value="<%= info.name %>" required>
                    </div>
                    <div class="contactemail">
                        <label for="email">Email</label><br>
                        <input type="email" name="email" id="email" value="<%= info.email %>" required>
                    </div>
                    <div class="contactarea">
                        <label for="desc">What can we help you with?</label><br>
                        <textarea name="desc" id="desc" required><%= info.desc %></textarea>
                    </div>
                    <button class="success-btn" type="submit">Send Infomation</button>
                </form>
            </div>
        </main>
        <footer>
            <span>Developed by: Joshua Swonger</span>
        </footer>
    </body>
</html>