<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gladiator Bicycles</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body id="admin">
        <div class="container">
            <h3>View Customer Contacts</h3>
            <% if(contacts.length != 0) { %>
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>DESCRIPTION</th>
                        <th>OPTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <% contacts.forEach(contact => { %>
                        <tr>
                            <td>
                                <%= contact.name %>
                            </td>
                            <td>
                                <%= contact.email %>
                            </td>
                            <td>
                                <%= contact.desc %>
                            </td>
                            <td>
                                <form action="/admin/viewcontactforms/<%= contact._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger" type="submit" <%= user %> >Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% }else { %>
            <div>No Customer Contact Forms!</div>
            <% } %>
            <form action="/admin/dashboard" method="GET">
                <button class="btn btn-primary" type="submit">Back to Dashboard</button>
            </form>
        </div>
    </body>
</html>